<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="mat-tab-label-content" [ngClass]="timerAlarmIsPlaying ? 'alarmPlaying' : ''">
          <mat-icon>hourglass_empty</mat-icon> Timer
        </div>
      </ng-template>
      <app-timer (onAlarmStateChange)="timerAlarmStateChange($event)"></app-timer>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>timer</mat-icon> Stopwatch
      </ng-template>
      <app-stopwatch></app-stopwatch>
    </mat-tab>
  </mat-tab-group>
</mat-card>