/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 1rem; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-panel {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  .fullscreen & {
    margin: 1em 1em;
  }
}

.alarmPlaying {
  animation: .8s shake infinite alternate;
  color: red;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}